
#login
{
    border:1px solid black;
    box-shadow: 0 2px 8px;
    width:400px;
    height:400px;
    padding:10px;
    justify-content: center;
    align-items: center;
    margin:200px auto;
}
#charts{
    margin-top: 150px;
    margin-left: 100px;
    opacity: 1;
}
table,th,td{
    margin-top: 10px;
    border:1px solid black;
    width:400px;
    margin:0 auto;
}
#attendance,#task{
    border:1px solid black;
    width:750px;
    padding:20px;
    margin:0 auto;
    box-shadow: 0 2px 8px;
}


