#task{
    border:1px solid black;
    width:750px;
    padding:20px;
    margin:0 auto;
    box-shadow: 0 2px 8px;
}
#task{
    margin-top: 20px;
}
#home{
    display: flex;
    justify-content: space-between;
}